# rename this `.env.sample` file to `.env`
VITE_APP_KAKAOMAP_JAVASCRIPT_KEY=${ENTER_YOUR_VITE_APP_KAKAOMAP_JAVASCRIPT_KEY}

# Firebase (Project settings > General > Your apps > SDK setup)
VITE_FIREBASE_API_KEY=${ENTER_YOUR_VITE_FIREBASE_API_KEY}
VITE_FIREBASE_AUTH_DOMAIN=mobile-wedding-invitatio-eae1d.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=${ENTER_YOUR_VITE_FIREBASE_DATABASE_URL}
VITE_FIREBASE_PROJECT_ID=mobile-wedding-invitatio-eae1d
VITE_FIREBASE_STORAGE_BUCKET=mobile-wedding-invitatio-eae1d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=${ENTER_YOUR_VITE_FIREBASE_MESSAGING_SENDER_ID}
VITE_FIREBASE_APP_ID=${ENTER_YOUR_VITE_FIREBASE_APP_ID}
VITE_FIREBASE_MEASUREMENT_ID=${ENTER_YOUR_VITE_FIREBASE_MEASUREMENT_ID}